<footer class="footer bg-dark-green text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>App Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-4">
        <h4>Navigation</h4>
        <ul class="list-unstyled">
          <li><a routerLink="/features" class="text-light">Features</a></li>
          <li><a routerLink="/how-it-works" class="text-light">How It Works</a></li>
          <li><a routerLink="/testimonials" class="text-light">Testimonials</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Contact</h4>
        <p>123 Main St., Anytown, USA</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@example.com</p>
      </div>
    </div>
  </div>
</footer>
